.checkbox {
  position: relative;
  width: 42px;
  height: 22px;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--dark-grey-bg);
  outline: none;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}
.checkbox:checked {
  background-color: var(--dark-blue);
}
.checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  top: 2px;
  left: 2px;
  background-color: var(--button-color-text);
  transition: 0.1s;
  border: 1px solid var(--button-color-text);
}
.checkbox:checked:before {
  left: 22px;
}
