.wrapper {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--component-bg);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 10px;
}
.addTodoListImg {
  width: 50px;
  height: 50px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}
.input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 10px;
  background-color: var(--node-input-bg);
}
.error {
  border: 2px solid black;
  border-radius: 8px;
  padding: 2px 10px;
  background-color: white;
  border: red 1px solid;
  color: red;

  &::placeholder {
    color: red;
  }
  &:focus {
    outline: none;
  }
}

.errorMessage {
  max-width: 200px;
  font-size: 12px;
  color: red;
}
.errorWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
