.input {
  width: 400px;
  padding: 8px 10px;
  background-color: var(--dark-grey-bg);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  margin: 0 20px 20px 20px;
  &::placeholder {
    font-size: 14px;
  }
  &:focus {
    outline: none;
    border: 1px solid var(--blue);
  }
}
