.wrapper {
  background-color: var(--component-bg);
  padding: 25px;
  border: 1px solid var(--border-color);
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.title {
  font-size: 18px;
  font-weight: 500;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.img {
  width: 35px;
  height: 35px;
}
.coinAndTextWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.itemTextWrapper {
  display: flex;
  flex-direction: column;
}
.imgCustomers {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.date {
  font-size: 14px;
  color: var(--ligth-text-color);
}
.email {
  font-size: 14px;
  color: var(--ligth-text-color);
}
.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.lastText {
  font-size: 14px;
  font-weight: 500;
  color: var(--ligth-text-color);
}
.fullReportText {
  font-size: 14px;
  font-weight: 500;
  color: var(--link-color-blue);
}
.lastTextWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 22px;
}
.chevronDown {
  width: 20px;
  height: 20px;
  color: var(--ligth-text-color);
}
.buttonsWrapper {
  display: flex;
}
@media (max-width: 468px) {
  .wrapper {
    padding: 15px;
  }
}
