.wrapper {
  width: 100%;
  background-color: var(--component-bg);
  padding: 100px 0;
}
.content {
  margin: 0 auto;
  max-width: 1550px;
  border-bottom: 1px solid var(--border-color);
}
.headerTitleWrap {
  display: flex;
  gap: 10px;
}
.icon {
  height: 32px;
  width: 32px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}
.text {
  font-size: 16px;
  color: var(--ligth-text-color);
}
.dashWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
}
.footerText {
  color: var(--ligth-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerWrap {
  display: flex;
  gap: 125px;
  margin-bottom: 50px;
}
.itemTitle {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 25px;
}
.test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 125px;
}
@media (max-width: 1536px) {
  .content {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .list {
    gap: 10px;
  }
  .test {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .footerWrap {
    flex-direction: column;
    padding: 15px;
    gap: 35px;
  }
  .content {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .content {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .content {
    max-width: 640px;
  }
}
