.button {
  padding: 15px;
  width: 100%;
  background-color: var(--dark-grey-bg);
  border-top-left-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    background-color: var(--dashboard-hover-color-bg);
  }
}
.secondary {
  padding: 15px;
  width: 100%;
  border-top-right-radius: 10px;
  background-color: var(--dark-grey-bg);
  border-left: 1px solid var(--border-color);
  font-size: 14px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    background-color: var(--dashboard-hover-color-bg);
  }
}
