.wrapper {
  border-radius: 10px;
  background-color: var(--component-bg);
  padding: 25px;
  border: 1px solid var(--border-color);
  // max-height: 650px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}
.text {
  padding-bottom: 15px;
  font-size: 16px;
  color: var(--ligth-text-color);
}
@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
