.wrapper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content {
  border-top: 1px solid var(--border-color);
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link {
  color: rgb(59 130 246);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.title {
  font-size: 18px;
  font-weight: 500;
}
.answer {
  padding-bottom: 20px;
  color: var(--ligth-text-color);
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
