.mainWrapper {
  padding: 20px;
}
.contentWrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}
.q {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerText {
  font-size: 14px;
  color: var(--ligth-text-color);
  text-align: center;
  margin: 30px 0;
}
.p {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}
