// .mainWrapper {
//   padding: 15px;
// }
// .contentWrapper {
//   display: grid;
//   // grid-template-columns: minmax(320px, 750px) minmax(650px, 1510px);
//   grid-template-areas:
//     "one one two two"
//     "one one two two"
//     "three three two two"
//     "three three two two"
//     "four four two two"
//     "four four five five"
//     "six six five five"
//     "six six seven seven"
//     "six six seven seven"
//     ;
//   width: 100%;
//   gap: 15px;
// }
// .title {
//   font-size: 22px;
//   font-weight: 600;
//   margin-bottom: 25px;
// }
// .item1 {
//   grid-area: one;
// }
// .item2 {
//   grid-area: two;
// }
// .item3 {
//   grid-area: three;
// }
// .item4 {
//   grid-area: four;
// }
// .item5 {
//   grid-area: five;
// }
// .item6 {
//   grid-area: six;
// }
// .item7 {
//   grid-area: seven;
// }

// .footerText {
//   font-size: 14px;
//   color: var(--ligth-text-color);
//   text-align: center;
//   margin: 30px 0;
// }

// @media (max-width: 1280px) {
//   .contentWrapper {
//     grid-template-columns: 1fr;
//     grid-template-areas:
//       "one "
//       "two "
//       "three "
//       "four "
//       "five "
//       "six"
//       "seven";
//   }
// }
// @media (max-width: 768px) {
//   .title {
//     margin-bottom: 10px;
//   }
//   .mainWrapper {
//     padding: 8px;
//   }
// }
.mainWrapper {
  padding: 20px;
}
.contentWrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}
.q {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerText {
  font-size: 14px;
  color: var(--ligth-text-color);
  text-align: center;
  margin: 30px 0;
}
.p {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 1280px) {
  .contentWrapper {
    width: 100%;
    flex-direction: column;
  }
  .q {
    width: 100%;
    flex-direction: column;
  }
  .p {
    width: 100%;
    flex-direction: column;
  }
}
