.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text {
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
}

.errorText {
  color: red;
  font-size: 12px;
  line-height: 12px;
  margin-left: 6px;
}
.title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}
