@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap"); */
:root {
  --ligth-grey-text: rgb(107 114 128);
  --dark-grey-bg: rgb(55 65 81);
  --dark-blue-bg: rgb(17 24 39);
  --component-bg: rgb(31, 41, 55);
  --hover-bg: rgba(249, 250, 251, 0.1);
  --ligth-text-color: rgb(156 163 175);
  --link-color-blue: rgba(63, 131, 248, 1);
  --dark-blue: rgb(37 99 235);
  --border-color: rgba(229, 231, 235, 0.1);
}

body {
  /* font-family: "Nunito", sans-serif; */
  font-family: "Inter", sans-serif;
  background-color: var(--component-bg);
  color: #fff;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-columns: auto 1fr;
}

.app {
  min-height: 1258px;
  background-color: var(--dark-blue-bg);
  grid-area: c;
}

.nav {
  grid-area: n;
}

.header {
  grid-area: h;
}
