.background {
  height: 71px;
}
.headerWrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 14px 22px;
  background-color: var(--component-bg);
  position: fixed;
}
.headerTitleWrap {
  display: flex;
  gap: 10px;
}
.icon {
  height: 32px;
  width: 32px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.search {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
.svg {
  width: 18px;
  height: 18px;
  color: var(--icons-color);
}
.svgWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gap {
  width: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  width: 350px;
  background-color: var(--dark-grey-bg);
  &::placeholder {
    font-size: 14px;
  }
  &:focus {
    outline: none;
    // border: 1px solid var( --link-color-blue);
  }
}
.glass {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  color: var(--icons-color);
}
.searchGlass {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey-bg);
  border: 1px solid var(--border-color);
  align-items: center;
  border-radius: 10px;
  &:hover {
    border: 1px solid var(--link-color-blue);
  }
}
.imgWrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--dark-grey-bg);
    border-radius: 10px;
  }
}
.svgBackground {
  display: none;
}
.svgClose {
  width: 22px;
  height: 22px;
}
.svgOpen {
  width: 22px;
  height: 22px;
}
@media (max-width: 1024px) {
  .svgBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    &:hover {
      background-color: var(--dark-grey-bg);
      cursor: pointer;
      border-radius: 4px;
    }
  }
  .searchGlass {
    display: none;
  }
  .gap {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 24, 39, 0.7);
  }
}
