.add {
  width: 24px;
  height: 24px;
  &:hover {
    cursor: pointer;
  }
}
.taskWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.qq {
  display: flex;
  align-items: center;
  gap: 20px;
}
.delete {
  width: 16px;
  height: 16px;
  &:hover {
    cursor: pointer;
  }
}
.edit {
  width: 16px;
  height: 16px;
  &:hover {
    cursor: pointer;
  }
}
.imgQ {
  display: flex;
  gap: 10px;
}
.save {
  width: 16px;
  height: 16px;
}
.taskInput {
  width: 180px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0 10px;
  background-color: var(--node-input-bg);
}
.error {
  background-color: white;
  padding: 4px;
  margin-left: 10px;
  border-radius: 10px;
  width: calc(100% - 50px);
  border: red 1px solid;
  color: red;

  &::placeholder {
    color: red;
  }

  &:focus {
    outline: none;
  }
}

.errorMessage {
  margin-left: 10px;
  font-size: 10px;
  line-height: 10px;
  color: red;
}
