.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.img {
  width: 20px;
  height: 20px;
}
.content {
  background-color: var(--profile-header-bg);
  border-radius: 10px;
  position: absolute;
  margin-bottom: 260px;
  width: 120px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.itemWrapper {
  display: flex;
  gap: 10px;
  padding: 10px;
  &:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
  }
}
.text {
  font-size: 14px;
  color: var(--ligth-text-color);
}
.choosedImg {
  &:hover {
    cursor: pointer;
    background-color: var(--ligth-text-color);
    border-radius: 10px;
  }
}
