.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.q {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(480px, 690px);
  gap: 20px;
}
