.wrapper {
  padding: 15px;
}
.cryptoWrapper {
  display: grid;
  grid-template-columns: minmax(480px, 1fr) minmax(480px, 740px);
  gap: 15px;
  margin-bottom: 20px;
}
.footerText {
  font-size: 14px;
  color: var(--ligth-text-color);
  text-align: center;
  margin: 30px 0;
}
.secondSectionWrapper {
  display: grid;
  grid-template-columns: minmax(360px, 1120px) minmax(360px, 1120px);
  gap: 15px;
  margin-bottom: 15px;
}
.statsWrapper {
  display: grid;
  grid-template-columns: minmax(360px, 1fr) minmax(360px, 1fr) minmax(
      360px,
      1fr
    );
  gap: 15px;
  margin-bottom: 15px;
}
.sectionWrapper {
  display: grid;
  grid-template-columns: minmax(360px, 1fr) minmax(360px, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}
.gridItem {
  grid-row-start: 1;
  grid-row-end: 3;
}
.desktopWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1280px) {
  .secondSectionWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
  .cryptoWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
  .statsWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
  .sectionWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
}

@media (max-width: 1024px) {
  .secondSectionWrapper {
    gap: 10px;
  }
  .cryptoWrapper {
    margin-bottom: 10px;
    gap: 10px;
  }
  .statsWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
  .wrapper {
    padding: 10px;
  }
  .sectionWrapper {
    display: grid;
    grid-template-columns: minmax(360px, 1000px);
  }
}
