.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--component-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 30px;
}
.textWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.value {
  font-size: 14px;
  font-weight: 300;
  color: var(--ligth-text-color);
  &:hover {
    cursor: pointer;
  }
}
.img {
  font-size: 18px;
  color: var(--icons-color);
  &:hover {
    cursor: pointer;
  }
}
.imgWrapper {
  display: flex;
  gap: 25px;
}
@media (max-width: 768px) {
  .textWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
