.wrapper {
  overflow: hidden;
  margin-bottom: 50px;
}
.container {
}
.table {
  width: 100%;
}
.th {
  text-align: start;
  padding: 17px 17px 17px 0;
  font-size: 18px;
}
.tr {
  &:nth-child(odd) {
    background-color: var(--component-bg);
  }
}
.td {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 17px;
  font-size: 14px;
  font-weight: 500;
}
.usersText {
  font-size: 16px;
  font-weight: 500;
}
.title {
  color: var(--ligth-text-color);
  font-size: 16px;
  font-weight: 400;
}
.borderRadiousRight {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.icon {
  width: 20px;
  height: 20px;
  color: rgb(49 196 141);
}
.close {
  width: 22px;
  height: 22px;
  color: rgb(240 82 82);
}
@media (max-width: 528px) {
  .container {
    overflow-x: scroll;
    max-width: 360px;
  }
}
@media (max-width: 385px) {
  .container {
    overflow-x: scroll;
    max-width: 330px;
  }
}
