.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--component-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 25px;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonWrapper {
  display: flex;
  gap: 15px;
}
.textWrapper {
  display: flex;
  flex-direction: column;
}
.avatar {
  width: 112px;
  height: 112px;
  border-radius: 10px;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.text {
  font-size: 14px;
  color: var(--ligth-text-color);
}
