.select {
  display: flex;
  padding: 10px;
  background-color: rgb(31, 41, 55);
  border: 1px solid rgba(229, 231, 235, 0.1);
  background-color: rgb(55 65 81);
  border-radius: 10px;
  position: relative;
}
