.wrapper {
  display: flex;
  background-color: var(--component-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
}
.content {
  margin-bottom: 25px;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.cart {
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textWrapper {
  display: flex;
  flex-direction: column;
}
.avatarWrapper {
  display: flex;
  gap: 15px;
}
.name {
  font-size: 16px;
  font-weight: 600;
}
.country {
  font-size: 14px;
  color: var(--link-color-blue);
}
.visited {
  font-size: 12px;
  color: var(--ligth-text-color);
}
