.wrapper {
  width: 100%;
  background-color: var(--component-bg);
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
}
.content {
  width: 1550px;
  display: flex;
  justify-content: space-between;
}
.headerTitleWrap {
  display: flex;
  gap: 10px;
}
.icon {
  height: 32px;
  width: 32px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}
.svg {
  width: 20px;
  height: 20px;
  color: var(--icons-color);
}
.svgWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.navWrapper {
  display: flex;
  gap: 25px;
}
.headerWrap {
  display: flex;
  gap: 40px;
  align-items: center;
}
.pageItem {
  font-size: 14px;
  font-weight: 500;
  color: var(--ligth-text-color);
  &:hover {
    cursor: pointer;
    color: var(--dark-blue);
  }
}
@media (max-width: 1536px) {
  .content {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .content {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .content {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .content {
    max-width: 640px;
    padding: 0 15px;
  }
}
@media (max-width: 560px) {
  .content {
    max-width: 360px;
    padding: 0 5px;
  }
  .pageItem {
    display: none;
  }
}
