.wrapper {
  border-radius: 10px;
  background-color: var(--component-bg);
  padding: 25px;
  border: 1px solid var(--border-color);
}
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 650px;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.fullReportText {
  font-size: 14px;
  font-weight: 500;
  color: var(--link-color-blue);
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
}
.text {
  font-size: 16px;
  color: var(--ligth-text-color);
}
.textWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
