.default {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
  background-color: var(--component-bg);
  border-radius: 8px;
  background-color: rgb(224 36 36);
  &:hover {
    background-color: rgba(224, 36, 36, 0.7);
  }
}
.secondary {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  background-color: var(--component-bg);
  border-radius: 8px;
  color: var(--ligth-text-color);
  &:hover {
    background-color: rgb(38, 47, 62);
    color: var(--button-color-text);
  }
}
