.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}
.span {
  font-size: 14px;
  color: var(--ligth-text-color);
}
